:root {
  --light-cyan: #d9f7fa;
  --gainsboro: #d8ddde;
  --light-gray: #cfcbca;
  --grullo: #aba194;
  --burnt-umber: #8c271e;
}

body {
  margin: 0;
  background: beige;
  background: var(--light-gray);
}

main {
  height: calc(100vh - 100px - 6px);
}

header > ul, footer > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

header > ul > li {
  background: lightblue;
  padding: 1em;
}

header {
  border-bottom: 3px solid black;
  background: var(--grullo);
  height: 50px;
}

.section-config {
  display: flex;
  justify-content: space-around;
  height: 10em;
  border: 1px solid black;
}

.section-config h2, .section-config h3, .section-config h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.section-config div {
  background: lightblue;
  padding: .5em;
  margin-bottom: 0em;
}

.section-config div option {
  padding-left: 0.5em;
}

.section-config-conversions select {
  height: 9em;
}

.section-config-show-comparisons ul {
  list-style-type: none;
  background: lightyellow;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.section-config-show-base {
  background: lightyellow;
}

.section-graphs {
  height: 650px;
  background: beige;
  border-bottom: 3px solid black;
  display: grid;
  grid-template-rows: 1fr 15fr;
  grid-template-columns: repeat(1fr);
}

.graphs-title {
  display: flex;
  background: grey;
  justify-content: space-around;
}

.graphs-title p {
  background: pink;
  padding: .7em;
  margin: 0;
  display: flex;
  position: relative;
}

.graphs-graphing {
  display: flex;
  background: blue;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 30em;
}

.graphs-graphing div {
  background: red;
}

.myBar {
  background: green;
}

.warning-added {
  background: red;
  color: white;
  padding: .5em;
}

footer {
  border-top: 2px solid black;
  height: 50px;
  width: 100%;
  background: --grullo;
  border-bottom: 1px;
}

.modal {
  display: none;
  background: white;
  background-color: #eee;
  border-radius: 2em;
  border: 1px solid #aaa;
  position: absolute;
  width: 100px;
  height: 200px;
  left: -20px;
  /* margin-left: -150px;
 */
  top: 9em;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

/* .modal button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
 */
